<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
</head>
<body>
  <h1><%= post.name %></h1>
  <p><%= post.content %></p>
  <p>Number of Comments: <%= post._count.comments %></p>
  <p>Number of Likes: <%= post._count.likedPost %></p>
</body>
</html>
